// =========================================================================
// Mediaqueries definitions ready to use with gridney
// =========================================================================
$mobile-name: mobile;
$mobile-shortcut: m;
$mobile-mq: "(max-width: 480px)";
// Order Convention -> name shortcut? mediaquery (shortcut is optional)
$mobile: $mobile-name $mobile-shortcut $mobile-mq;

$tablet-name: tablet;
$tablet-shortcut: t;
$tablet-mq: "(min-width: 481px) and (max-width: 720px)";
// Order Convention -> name shortcut? mediaquery (shortcut is optional)
$tablet: $tablet-name $tablet-shortcut $tablet-mq;

// Custom breakpoints
$breakpoint-1-name: breakpoint-1;
$breakpoint-1-shortcut: b1;
$breakpoint-1-mq: "(min-width: 1200px)";
// Order Convention -> name shortcut? mediaquery (shortcut is optional)
$breakpoint-1: $breakpoint-1-name $breakpoint-1-shortcut $breakpoint-1-mq;
